:root {
  --highlight-color: #17a2b8;
  --dark-grey-color: #343a40;
  --darker-grey-color: #1e1e1e;
}

body {
  background-color: var(--darker-grey-color);
}

h1 {
  margin: 0 auto;
  color: whitesmoke;
}

.btn-primary {
  background-color: var(--highlight-color);
  border-color: var(--highlight-color);
}
.container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
}

.hidden {
  display: none;
}
.highlight {
  display: inline-block;
  background-color: var(--highlight-color);
}

#dreamInput::placeholder {
  color: grey;
}
#dreamInput {
  background-color: var(--dark-grey-color) !important;
  color: white !important;
}

.prompt-box {
  background-color: var(--darker-grey-color) !important;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--dark-grey-color);
  color: white;
}

.result-box {
  background-color: var(--darker-grey-color) !important;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--dark-grey-color);
  margin-top: 20px;
  border-top: 10px solid var(--highlight-color);
}

.separating-bar {
  border-top: 1px solid grey;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer,
a {
  text-align: center;
  margin-top: 20px;
  color: grey !important;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}
